.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(34, 34, 31);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(186, 59, 59);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  padding: auto;
}

.leftpane {
    width: 25%;
    height: 100%;
    float: left;
    background-color: rgb(14, 2, 2);
    border-collapse: collapse;
    
}

.middlepane {
    width: 40%;
    height: 100%;
    float: left;
    background-color:white;
    border-collapse: collapse;
    padding: 20px 30px;
    margin-left: 35px;
    position: sticky;
    top: 15%;
    left: 20%;

}
.title{
  cursor: pointer;
}
.title:hover{
  color: blue;
}

.date{
  padding: 0px 0px 10px 0px;
}
.rightpane {
  width: 25%;
  height: 100%;
  position: relative;
  float: right;
  background-color: rgb(34, 34, 31);
  border-collapse: collapse;
  top: 15%;
  position: sticky;
    left: 0;
    right:1%
}
.descrip{
  padding: 30px;
}

.data {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.2em;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-color: rgb(240, 201, 201);
  color: #fff;
  /* box-shadow: 0 0 40px 40px rgb(240, 201, 201), 0 0 0 0 rgb(240, 201, 201); */
  transition: all 300ms ease-in-out;

}
  
  
  .data:hover {
    box-shadow: 0 0 5px 0 white inset, 0 0 5px 4px white;}
  :focus {
    color: #fff;
    outline: 0;
  } 
  
  .toppane{
    box-sizing: border-box;
    background-color: white;
    border: 2px solid red;
  }


